@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
	background-color: #2b2e3b;
	color: #afedfa;
	font-family: Roboto, sans-serif;
}

.header-top {
	text-align: center;
}

.bulb {
	padding-left: 30px;
}

.Characters {
}

.about {
}

.copyright {
}