@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
	background-color: #2b2e3b;
	color: #afedfa;
}

.header-top {
	text-align: center;
	font-family: "Roboto", sans-serif;
}

.about_header {
	font-family: 'Roboto', sans-serif;
}

.notice1 {
	font-family: 'open sans', sans-serif;
}

.about {
	padding-left: 30px;
	font-family: 'Open Sans', sans-serif;
}

.copyright {
	padding-left: 30px;
	font-family: 'Open Sans', sans-serif;
}