.header-top {
	font-family: calibri Light, sans-serif;
	text-align: center;
}

.bulb {
	font-family: calibri Light, sans-serif;
}

.Characters {
	font-family: calibri light, sans-serif;
}

.about {
	font-family: calibri light, sans-serif;
}

.copyright {
	font-family: calibri light, sans-serif;
}